<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ini-parser" version="2.5.2" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.122" targetFramework="net462" />
  <package id="PlayniteSDK" version="6.15.0" targetFramework="net462" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net462" />
  <package id="Squid-Box.SevenZipSharp" version="1.2.191" targetFramework="net462" />
  <package id="SteamKit2" version="1.8.3" targetFramework="net462" />
  <package id="SteamStoreQuery" version="1.0.3" targetFramework="net462" />
</packages>